{% extends "user_template.html" %}

{% block content %}
<!-- Your content goes here -->
<div>
<h2>Availability for Week {{week}} (Starting {{date}})</h2>
<form action="/schedule/{{week}}" method="POST">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>

           {% for i in range(9, 20) %}
                {% for j in range(2)%}
                {% set time = i ~ ":" ~ j*3 ~ "0" %}
                <tr>
                    <td>{{ i }}:{{j*3}}0</td>
                    {% for day in days %}
                    <td><input type="checkbox" name={{ day }} value="{{time}}" id="Week{{week}}-{{day}}-{{time}}" {% if time in availability[day] %} checked {%endif%}></td>
                    {% endfor %}

                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Submit">
</form>

</div>

<script>
</script>

{% endblock %}
