{% extends "template.html" %}

<!-- Your login template code here -->

{% block title %}Login{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
<!-- Your login form code here -->
<div style="display:flex; justify-content:center">
<form action="" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <input type="submit" value="Login">
</form>
</div>

{% endblock %}
