{% extends "user_template.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/schedule.css">
{% endblock %}

{% block title %}
    Schedule
{% endblock %}

{% block content %}
    <div id="cal">
      <div class="time-col">
        <div class="time"> 9 </div>
        <div class="time"> 10 </div>
        <div class="time"> 11 </div>
        <div class="time"> 12 </div>
        <div class="time"> 13 </div>
        <div class="time"> 14 </div>
        <div class="time"> 15 </div>
        <div class="time"> 16 </div>
        <div class="time"> 17 </div>
        <div class="time"> 18 </div>
        <div class="time"> 19 </div>
        <div class="time"> 20 </div>
      </div>
      <div class="cal-col">
        <div class="cal-day"><button class="day">Mon</button></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
      </div>
      <div class="cal-col">
        <div class="cal-day"><button class="day">Tue</button></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
      </div>
      <div class="cal-col">
        <div class="cal-day"><button class="day">Wed</button></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
      </div>
      <div class="cal-col">
        <div class="cal-day"><button class="day">Thu</button></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
      </div>
      <div class="cal-col">
        <div class="cal-day"><button class="day">Fri</button></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
        <div class="cal-cell"></div>
      </div>
    </div>
    <input type="time" id="time-test" />
    <button id="time-button">click</button>
    <script>
        window.week = {{week}};
        window.name = `{{name}}`;
        </script>
    <script src="{{url_for('static',filename='schedule.js')}}"></script>
{% endblock %}